:root {
    --darck-blue: #000723;
    --blue: #000643;
    --neutral-cian: #01ecf9;
    --clear-cian: #5bf2fa;
    --white: #ffffff;
    --black: #1a1a1a; 
    --gray: #e1e1e1;

}

* {
    margin: 0;
    padding: 0;
    border: 0;

}
html {
    font-family: "Roboto", sans-serif;
}
  
body {
    width: 100%;
    right: 0;
    left: 0;
    overflow-x: hidden; 
}

header {
    color: #ffffff;
    background-color: var(--darck-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-end; /* Alineación del botón hacia la derecha */
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    margin-left: 12px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 14%;
    left: 0;
    width: 100%;
    background-color: #000643; /* Color azul para el fondo del menú */
    border-top: 0.8px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
}

.menu.active {
    display: flex;
    flex-direction: column;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease, box-shadow 0.3s ease; /* Transiciones */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 10px; /* Espaciado interior */
    display: block; /* Convertir en bloque para aplicar sombra */
}

.menu li a:hover {
    color: #01ecf9;
    border-bottom: 0.5px solid var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada en hover */
}

.boton-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.linea-menu {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

main {
    width: 100%;
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    left: 0;
    right: 0;
    /*color:#ffffff;*/
    background-color: #000723;
}

section {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    left: 0;
    right: 0;
}

.hero {
    margin-top: 12px;
    color: #ffffff;
}


.hero h1 {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 1.7rem;
}

.subrayado {
    text-decoration: underline;
    text-decoration-color: var(--neutral-cian); /* Color del subrayado */
    text-decoration-thickness: 2px; /* Grosor del subrayado */
}

.hero p {
    margin-bottom: 18px;
}

.boton-hero {
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--neutral-cian);
    color: var(--darck-blue);
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.boton-hero:hover {
    cursor: pointer;
    background-color: var(--clear-cian);
    box-shadow: 0 2px 12px 0 rgba(44, 252, 228, 0.42);
}
.image-main {
    margin-top: -18px;
}

.pc-image-main {
    max-width: 95%;
    height: auto;
    animation: mover 6s linear infinite; /* Nombre de la animación, duración, tipo de temporización y repetición infinita */
}

@keyframes mover {
    0% {
        transform: translateY(0); /* Inicio: no hay movimiento vertical */
    }
    25% {
        transform: translateY(-20px); /* Movimiento hacia arriba */
    }
    50% {
        transform: translateX(-20px); /* Movimiento hacia la izquierda */
    }
    75% {
        transform: translateX(20px); /* Movimiento hacia la derecha */
    }
    100% {
        transform: translateY(0); /* Regreso al punto de partida */
    }
}

.raitng-container {
    padding-top: 28px;
    color: var(--darck-blue);
    background-color: var(--gray);
}

.raitng-container h2 {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 1.6rem;
}

.raitng-container p {
    padding: 15px;
    margin-bottom: 18px;
}

.raitng-container p #calidad {
    color: #000643;
    font-weight: bold;
}

.container {
    padding: 2rem;
}

.slider-wrapper {
    position:relative;
    max-width: 27rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x:hidden;
    column-gap: 0.5rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 3rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 0.50rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #000723;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.ratingimage {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

.ratingimage2 {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

.service-cards-container {
    color: #ffffff;
    padding: 15px;
    margin-top: 27px;
    display: block;
}

.service-detail-title {
    margin-bottom: 42px;
}
.service-detail-title p {
    color: #d0d0d0;
}

.service-detail-cards {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.16);
}

.service-detail-cards i {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    
}

.service-detail-cards h3 {
    display: block;
    text-align: left;
    font-size: 20px;
    
}

.service-detail-cards p {
    display: block;
    text-align: left;
    color: #d0d0d0;
}

.info-cards-container {
    color: var(--darck-blue);
    background-color: var(--gray);
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.info-detail-cards {
    padding: 15px;
}

.info-image-cards {
    width: 170px;
    height: 170px;
    padding: 15px;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}   

.info-image-cards img {
    width: 100%;
    height: auto;
}

.contact-section {
    color: var(--white);
    padding: 15px;
    text-align:center;
    justify-content: center;
    margin-top: 12%;
}

.contact-section h2 {
    padding-bottom: 22px;

}
.contact-section p {
    line-height: 1.8;
    margin-bottom: 20px;
}
.contact-section a {
    color: var(--neutral-cian);
    text-decoration: none;
}

.contact-section .phone-call-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0081eb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.phone-call-btn i {
    margin-right: 5px;
}

.contact-section .phone-call-btn:hover {
    background-color: var(--gray);
    color: var(--darck-blue);
}

.contact-section .whatsapp-chat-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--clear-cian);
    color: var(--darck-blue);
    text-decoration: none;
    border-radius: 5px;
}

.whatsapp-chat-btn i {
    margin-right: 5px;
}

.contact-section .whatsapp-chat-btn:hover {
    background-color: var(--gray) ;
}

.separador {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 4%;
    margin-right: 4%;
    height: 0.70px; /* Altura del separador */
    background-color: var(--neutral-cian); /* Color del separador */
}

.contact-map-section {
    margin-top: 32px;
    margin-bottom: 35px;
}

.contact-section .image-map {
    margin-top: 22px;
    max-width: 100%;
    height: 290px;
    border-radius: 12px;
    box-shadow: 0 2px 20px 0 rgba(44, 252, 228, 0.42);
}

footer {
    background-color: var(--blue);
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

footer a {
    color: var(--clear-cian);
    text-decoration: none;
}

footer a:hover {
    color: #0145ff;
    text-decoration: none;
}

/* Media query para pantallas portátiles */
@media only screen and (min-width: 768px) {
    /* Cambiar el menú hamburguesa a un menú normal */
    .menu {
        list-style: none;
        display: flex;
        position: absolute;
        top: 5%;
        left: 13%;
        width: 100%;
        background-color: transparent;
        border: none;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); /* Sombra */
    }

    /* Ocultar el botón del menú hamburguesa */
    .boton-menu {
        display: none;
    }


    /* Desplazar la sección1 a la izquierda */
    .hero {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 12px;
    }
    
    .hero h1 {
        margin-bottom: 22px;
        font-weight: 500;
        font-size: 2.5rem;
        text-align: left;
    }
    
    .subrayado {
        text-decoration: underline;
        text-decoration-color: var(--neutral-cian); /* Color del subrayado */
        text-decoration-thickness: 1px; /* Grosor del subrayado */
        text-decoration-style:wavy;
    }
    
    .hero p {
        margin-bottom: 32px;
        font-size: 1.2rem;
        text-align: left;
        color: var(--gray);
    }
    
    .boton-hero {
        display: inline-block;
        margin-left: -55%;
        
    }
    


    /* Alinear los servicios uno al lado del otro */
    .service-cards-container {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .service-cards-container h2 {
        padding-bottom: 12px;
    }

    #service-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;        
        gap: 10px;
        
    }

    /* Alinear las tarjetas de información uno al lado del otro */
    .info-cards-container {
        padding-top: 12%;
        padding-bottom: 12%;
    }

    .info-cards-container h2 {
        padding-bottom: 7%;
    }

    .info-detail-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 22px;
    }
}

/* Media query para pantallas de computador */
@media only screen and (min-width: 1024px) {
    /* Ajustar estilos adicionales según sea necesario para pantallas de computador */
}